.container-bendiciones{
  width: 100vw;
  margin-top: 50px;
  flex-direction: column;
  font-family: "Afacad", sans-serif;

}
.container-bendiciones h2{
  text-align: center;
  font-size: 50px;
}
.info-cont-bendiciones{
  width: 100%;
  height: 50%;
  flex-direction: row;
}
.novia,
.novio{
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}
#novios{
  font-size: 50px;
}
.container-bendiciones,
.info-cont-bendiciones,
.novio,
.novia{
  display: flex;
}

@media screen and (max-width: 481px){
  .info-cont-bendiciones{
    margin-top: 50px;
    height: 200px;
  }
  .container-bendiciones h2{
    font-size: 30px;
  }
  .novia,
  .novio{
    width: 50%;
    font-size: 20px;
  }
  #novios{
    font-size: 40px;
  }
  .info-cont-bendiciones{
    justify-content: center;
    text-align: center;
  }
}
@media screen and (min-width: 482px){
  .info-cont-bendiciones{
    margin-top: 50px;
    height: 250px;
  }
}