.cont-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnRecepcion, .btnCeremonia,.btnEnviar,.btnWhatsApp,.btn-mesa-regalos .liverpool {
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	      -6px -6px 10px -1px rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: transform 0.5s;
}

.btnRecepcion:hover,
.btnCeremonia:hover,
.btnEnviar:hover,
.btnWhatsApp:hover{
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	      inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	      -0.5px -0.5px 0px rgba(255,255,255,1),
	      0.5px 0.5px 0px rgba(0,0,0,0.15),
	      0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  transform: translateY(0.5em);
}


.btnEnviar,
.btnWhatsApp{
  margin-top: 35px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100px;
  border-radius: 15px;
}
