.contenedor-ceremonia{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Afacad", sans-serif;
}
.contenedor-ceremonia h2{
  font-size: 60px;
}
.contenedor-ceremonia img{
  width: 200px;
  filter: drop-shadow(10px 10px 4px #AFD9E7);
}

.btn-cont-ceremonia{
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
.btn-cont-ceremonia p{
  margin-top: 10px;
  font-size: 30px;
  position: relative;
}
.btn-cont-ceremonia p::after{
  content: "";
  width: 2px;
  height: 60px;
  background-color: black;
  position: absolute;
  right: -40px;
}


@media screen and (max-width: 481px){
  .btn-cont-ceremonia p::after{
    content: "";
    width: 2px;
    height: 60px;
    background-color: black;
    position: absolute;
    right: -30px;
  }
}

@media screen and (min-width: 482px) {
  .contenedor-ceremonia h2{
    font-size: 40px;
  }
  
}