.container-foto {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}
.grid-cont{
  margin: 50px 0px 0px 0px;
  display: grid;
  width: 950px;
  height: 800px;
  grid-template-columns: 2fr 2fr 2fr; 
  grid-template-rows: 2fr 2fr 2fr; 
  gap: 5px 20px; 
  grid-template-areas:
    "area1 area2 area3"
    "area4 area5 area6"
    "area7 area8 area9"
    "area10 area11 area12";
  border-radius: 50px;
  padding: 15px;
}


@media screen and (max-width: 481px){
  .grid-cont{
    gap: 30px 20px;
    height: 500px;
  }
}