.cont-mesa-regalos{
  margin-top: 50px;
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.cont-mesa-regalos h2{
  font-size: 40px;
  color: rgb(20, 20, 20);
  font-family: "Afacad", sans-serif;
  word-spacing: 5px;
  letter-spacing: 5px;
}
#liverpool{
  color: #C94C93;
  text-shadow: 0px 1px 0px #e173b9,
               0px 2px 0px #e173b9,
               0px 3px 0px #e173b9,
               0px 4px 0px #e173b9,
               0px 5px 0px #e173b9,
               0px 6px 1px rgba(193, 97, 164, .1),
               0px 0px 5px rgba(193, 97, 164, .1),
               0px 1px 3px rgba(193, 97, 164, .3),
               0px 3px 5px rgba(193, 97, 164, .2),
               0px 5px 10px rgba(193, 97, 164, .25),
               0px 10px 10px rgba(193, 97, 164, .2),
               0px 20px 20px rgba(193, 97, 164, .15);
}
.btn-mesa-regalos{
  margin-top: 20px;
}

@keyframes fondo {
  0% {
    background-color: #C94C93;
  }10%{
    background-color: #ed48a6;
  }
  50%{
    background-color: #d85fa4;
  }
  100%{
    background-color: #ad3c7c;
  }
}

.btn-mesa-regalos .liverpool:hover{
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
  inset -4px -4px 6px -1px rgba(255,255,255,0.7),
  -0.5px -0.5px 0px rgba(255,255,255,1),
  0.5px 0.5px 0px rgba(0,0,0,0.15),
  0px 12px 10px -10px rgba(0,0,0,0.05);
border: 1px solid rgba(0,0,0,0.1);
transform: translateY(0.5em);
}

.btn-mesa-regalos .liverpool{
  color: #C94C93;
  background-color: #fff;
  font-family: "Afacad", sans-serif;
  border: 2px solid #DC3287;
}
